<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6  border-left login">
      <!-- <div  class="row">
          <div class="col-md-3">
             </div>
      <div class="col-md-6 ">
      </div>
    </div> -->
    <form (ngSubmit)="login()" class="form">
      <h1 style="text-align:center;color:var(--blue)">LOGIN</h1>
      <br><br>
      <label>Username / Mobile Number / Email</label>
      <br>
      <input type="text" placeholder="" class="form-control" [(ngModel)]="ume" [ngModelOptions]="{standalone: true}">
      <label>Password</label>
      <br>
      <input type="password" placeholder="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      <br>
      <span class="text-danger" style="color:red">{{ error }}</span>
      <button  class="btn-sm form-control btn">
        submit
      </button>
      
      <br/><br/>
    </form>
      <!-- <p  style="text-align: center; color:var(--blue);"  >Click Here To <a [routerLink] = "['/userdetails']" style="color:var(--blue);text-decoration: none" >Register</a></p> -->

      <br><br>
    </div>
  </div>
</div>
